{% include '_header.twig' %}
<div id="record-back">
	<main id="page-content" class="container-fluid">
	      <div class="row">
	
		      	<aside class="col-md-3 col-sm-4 hidden-xs">

			      	{% include '_aside.twig' %}

		    	</aside>
				<section class="col-md-9 col-sm-8">
	        		<div id="record-content">
			    		<h1 class="title-box">{{ record.title }}</h1>
    
				
					<div class="content">

				            {# display something introduction-like.. #}
				            {% if record.introduction %}
				            {{ record.introduction }}
				            {% elseif record.teaser %}
				                {{ record.teaser }}
				            {% else %}
				                <p>{{ record.excerpt(1000) }}</p>
				            {% endif %}

				            {# if the entry has a video, display it. #}
				            {% if record.video is not empty %}
				                {{ record.video.responsive }}
				            {% endif %}

				            {{ record.body }}

				            <!--{% include '_recordfooter.twig' with {record: record} %}

				            <p class="meta">
				                {% set previous = record.previous('id') %}
				                {% if previous %}
				                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
				                {% endif %}
				                -
				                {% set next = record.next('id') %}
				                {% if next %}
				                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
				                {% endif %}
				            </p>-->
						</div><!-- end content -->
					</div><!-- end record content -->
	
				</div><!-- end 8 -->



	    </div><!-- end row -->
	</main><!-- end main-content -->
</div>

    {% include '_footer.twig' %}